/* Services.css */

.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .backgroundImage {
    background: url("/src/assets/Services.png") no-repeat center;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
  }

/* CSS */
.service-btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.service-btn:disabled {
  pointer-events: none;
}

.service-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: #000000;
  border: none;
}

.service-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
  
  .icon {
    font-size: 40px;
    color: #fff;
  }
  
  .hover-effect {
    transition: transform 0.3s ease;
  }
  
  .hover-effect:hover {
    transform: translateY(-10px); /* Move up on hover */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 576px) {
    .section {
      padding: 1rem;
    }
    .icon {
      font-size: 30px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    .section {
      padding: 1.5rem;
    }
    .icon {
      font-size: 35px;
    }
  }
  
  @media (min-width: 768px) {
    .section {
      padding: 2rem;
    }
    .icon {
      font-size: 40px;
    }
  }
  