/* General styling for cards */
.service-card {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(128, 0, 128, 0.3);
    padding: 1.5rem;
  }
  
  .service-card-title {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .service-card-text {
    color: #CCCCCC;
    font-size: 1rem;
  }
  
  .service-button {
    background-color: #000000;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
    width: 100%;
    transition: all 0.3s;
  }
  
  .service-button:hover {
    background-color: #111111;
  }
  
  /* Media Query for devices with width less than 768px */
  @media (max-width: 768px) {
    .service-card {
      padding: 1rem;
      width: 100%;
    }
  
    .service-card-title {
      font-size: 1.2rem;
    }
  
    .service-card-text {
      font-size: 0.9rem;
    }
  
    .service-button {
      font-size: 0.9rem;
      padding: 10px 20px;
    }
  }
  